
{{!-- Abstracting out the javascript --}}
<script type="text/javascript" src="/assets/js/editRoom.js"></script>
{{!-- Create a new room form --}}
<form id="edit-room-form">
    <h2>Edit a Study Room</h2>
    <div class="form-group">
        <label for="roomName">Please update the room name below</label>
        <input type="text" class="form-control" id="roomName" placeholder="Please enter name of room" value="{{name}}">
    </div>
    <button class="button expanded" id="submit-edit-room">Submit Change</button>
</form>

